.contactForm {
    margin: 10rem auto auto auto;
    width: 80%;

    .form-btn {
        margin-top: 50px;
        margin-bottom: 50px;
        color: white;
        background-color: $DarkBlue;
    }
}