body {
    background-color: $Background-Color;
    height: 100vh;
}

.navStyles {
    background-color: $DarkBlue;
    width: 100%;
    z-index: 1000;
    top: 0;
    position: absolute;


    .logo {
        font-size: 3rem;
        color: $Mustard;
        font-family: $Lobster;
        margin-left: 20px;
        cursor: pointer;
        text-decoration: none;
    }


    .nav-item {
        text-decoration: none;
        font-size: 1.25rem;
    }
    
    .nav-item:link {
        color: white;
    }

    .nav-item:visited {
        color: white;
    }

    .nav-item:hover {
        color: $LightGrey;
    }


    .MenuIcon {
        margin-left: 10px;
        cursor: pointer;
        position: absolute;
        top: 23px;
        right: 50px;
        color: white;
    }

}


.mobileLinkList {
    // list-style-type: none;
    // text-decoration: none;
    font-size: 2rem;
    font-family: $QuickSand;
    text-align: center;
    width: 67%;
    margin: 0 auto;
    
}

.mobileLinks:visited {
    color: $DarkBlue;
}

.mobileLinks:link {
    color: $DarkBlue;
}

.mobileLinks:hover {
    color: $LightGrey;
}

.offcanvas {
    background-color: $Background-Color;
}

.mobileLinks {
    list-style-type: none;
    text-decoration: none;
    margin-top: 15px;
    font-size: 2rem;
    font-family: $QuickSand;
    
}