.navStyles {
    padding: 2rem;
    background-color: $Fedora;

    .logo {
        font-size: 3rem;
    }

    .submitBtn {
        background-color: $Mantis;
        border: none;
        padding: 10px 20px;
    }

}