.SkillsImage {
    font-size: 50px;
    width: 100px;
    height: 100px;
    margin: 30px;
    text-align: center;
    // box-shadow: -2px 7px 19px 9px rgba(26,35,80,0.75);
}

.intro {
    margin-top: 4rem;
    padding: 5rem;

    h1 {
        color: $Mustard; 
        font-family: $QuickSand;
        font-size: 3.5rem;
    }

    h1, p {
        padding-bottom: 2.5rem;
    }

    p {
        font-size: 1.78em;
        font-family: $QuickSand;
        color: $DarkBlue;

        .textStyle {
            color: $Fedora;
        }
    }

    @media only screen and (max-width: 600px) {
        p {
            font-size: 1.4rem;
        }
      }

    .hero-btn {
        background-color: #4b6268;
        color: white;
    }
    
}

.arrBtn {
    cursor: pointer;
    color: #4b6268;
}

.about-section {
    background-color: $DarkBlue;
    color: white;
    padding: 6rem 4rem 4rem 4rem;
    width: 100%;
    height: 80%;
    margin-top: 2rem;

    position: relative;

    .about-me {
        text-align: center;
    
        h2 {
            font-family: $QuickSand;
            font-size: 3rem;
            padding-bottom: 2rem;
            color: $Mustard;
        }
    
        p {
            font-size: 1.25rem;
            font-family: $IBM;
        }
    }
    
    .socailIcons {
        margin: 15px;
        background-color: $DarkBlue;
        color: white;
        border-radius: 50%;
        
    }
}

.about-section:before {
    position: absolute;
    width: 50%;
    height: 127px;
    content: "";
    background: inherit;
    top: -50px;
    left: 0;
    transform: skewY(7deg);
    // transform-origin: top right;
    z-index: -1;
}

.about-section:after {
    position: absolute;
    width: 50%;
    height: 127px;
    content: "";
    background: inherit;
    top: -50px;
    right: 0;
    transform: skewY(-7deg);
    // transform-origin: top right;
    z-index: -1;
}


.skills-section {
    padding: 3rem;

    .skill {
        color: $DarkBlue; 
        font-family: $QuickSand;
        font-size: 3.5rem;
    }

    .project-btn {
        margin-top: 3rem;
        color: white;
        font-family: $QuickSand;
        background-color: #4b6268;
    }
}