.projectContainer {
    width: 100vw;
    height: 90vh;
    text-align: center;
    margin: 5rem auto 2rem auto;

    .project-image {
        width: 300px;
        border-radius: 2%;
        margin-top: 50px;
    }
}