.ComingSoon {
    width: 100vw;
    height: 85vh;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 5rem;

    h1 {
        padding-top: 10rem;
        font-size: 5rem;
        color: $Mustard;
        font-family: $IBM;
    }
}