// Imports 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

// Colors 
$Fedora: #7b6d78;
$Mantis: #7dbe6a;
$Double-Colonial-White: #efe1a7;
$Sea-Buckthorn: #faae32;
$Pomegranate: #f44336;
$LightGrey: lightgray;
$DarkBlue: #1A2350;

//Fonts 
$IBM: 'IBM Plex Sans Arabic', sans-serif;
$QuickSand: 'Quicksand', sans-serif;
$Lobster: 'Lobster', cursive;

