@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.arrBtn {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
body {
  background-color: #dedace;
  height: 100vh;
}

.navStyles {
  background-color: #1A2350;
  width: 100%;
  z-index: 1000;
  top: 0;
  position: absolute;
}
.navStyles .logo {
  font-size: 3rem;
  color: #d8ae62;
  font-family: "Lobster", cursive;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
}
.navStyles .nav-item {
  text-decoration: none;
  font-size: 1.25rem;
}
.navStyles .nav-item:link {
  color: white;
}
.navStyles .nav-item:visited {
  color: white;
}
.navStyles .nav-item:hover {
  color: lightgray;
}
.navStyles .MenuIcon {
  margin-left: 10px;
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 50px;
  color: white;
}

.mobileLinks {
  text-decoration: none;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  margin-top: 50px;
  text-align: center;
  border-bottom: 1px solid #1A2350;
}

.mobileLinks:visited {
  color: #1A2350;
}

.mobileLinks:link {
  color: #1A2350;
}

.mobileLinks:hover {
  color: lightgray;
}

.offcanvas {
  background-color: #dedace;
}

.SkillsImage {
  font-size: 50px;
  width: 100px;
  height: 100px;
  margin: 30px;
  text-align: center;
}

.intro {
  margin-top: 4rem;
  padding: 5rem;
}
.intro h1 {
  color: #d8ae62;
  font-family: "Quicksand", sans-serif;
  font-size: 3.5rem;
}
.intro h1, .intro p {
  padding-bottom: 2.5rem;
}
.intro p {
  font-size: 1.78em;
  font-family: "Quicksand", sans-serif;
  color: #1A2350;
}
.intro p .textStyle {
  color: #7b6d78;
}
@media only screen and (max-width: 600px) {
  .intro p {
    font-size: 1.4rem;
  }
}
.intro .hero-btn {
  background-color: #4b6268;
  color: white;
}

.arrBtn {
  cursor: pointer;
  color: #4b6268;
}

.about-section {
  background-color: #1A2350;
  color: white;
  padding: 6rem 4rem 4rem 4rem;
  width: 100%;
  height: 80%;
  margin-top: 2rem;
  position: relative;
}
.about-section .about-me {
  text-align: center;
}
.about-section .about-me h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  padding-bottom: 2rem;
  color: #d8ae62;
}
.about-section .about-me p {
  font-size: 1.25rem;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
.about-section .socailIcons {
  margin: 15px;
  background-color: #1A2350;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.about-section:before {
  position: absolute;
  width: 50%;
  height: 127px;
  content: "";
  background: inherit;
  top: -50px;
  left: 0;
  transform: skewY(7deg);
  z-index: -1;
}

.about-section:after {
  position: absolute;
  width: 50%;
  height: 127px;
  content: "";
  background: inherit;
  top: -50px;
  right: 0;
  transform: skewY(-7deg);
  z-index: -1;
}

.skills-section {
  padding: 3rem;
}
.skills-section .skill {
  color: #1A2350;
  font-family: "Quicksand", sans-serif;
  font-size: 3.5rem;
}
.skills-section .project-btn {
  margin-top: 3rem;
  color: white;
  font-family: "Quicksand", sans-serif;
  background-color: #4b6268;
}

.contactForm {
  margin: 10rem auto 8.5em auto;
  width: 80%;
}
.contactForm .form-btn {
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  background-color: #1A2350;
}

.aboutSection {
  margin: 10rem auto 8.5em auto;
  width: 80%;
}
.aboutSection h1 {
  text-align: center;
  margin-bottom: 50px;
  font-family: "Quicksand", sans-serif;
  font-size: 3.5rem;
  color: #1A2350;
}
.aboutSection .aboutTxt {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 1.5em;
  color: #1A2350;
  text-align: center;
}
.aboutSection .aboutTxt .contact-link {
  text-decoration: none;
  font-weight: bold;
}
.aboutSection .profilePictureContainer {
  background-color: #1A2350;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}
.aboutSection .profilePictureContainer .profilePicture {
  border-radius: 50%;
  margin: 10px 0px 0px 10px;
}
@media screen and (min-width: 200px) {
  .aboutSection .profilePictureContainer {
    width: 175px;
    height: 175px;
  }
  .aboutSection .profilePictureContainer .profilePicture {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 600px) {
  .aboutSection .profilePictureContainer {
    width: 280px;
    height: 280px;
  }
  .aboutSection .profilePictureContainer .profilePicture {
    width: 260px;
    height: 260px;
  }
}
@media screen and (min-width: 900px) {
  .aboutSection .profilePictureContainer {
    width: 325px;
    height: 325px;
  }
  .aboutSection .profilePictureContainer .profilePicture {
    width: 300px;
    height: 300px;
  }
}

.projectContainer {
  width: 100vw;
  height: 90vh;
  text-align: center;
  margin: 5rem auto 2rem auto;
}
.projectContainer .project-image {
  width: 300px;
  border-radius: 2%;
  margin-top: 50px;
}

.footer-section {
  background-color: #1A2350;
  padding: 4rem;
  position: absolute;
  left: 0;
  bottom: -1;
  right: 0;
}
.footer-section ul {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}
.footer-section ul .footer-link {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-family: "Quicksand", sans-serif;
  margin: 10px;
}
.footer-section ul li {
  text-decoration: none;
}
.footer-section ul li .footer-link {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-family: "Quicksand", sans-serif;
  margin: 10px;
}
.footer-section .icon-group {
  margin-top: 20px;
}
.footer-section .icon-group .footer-icon {
  color: white;
  margin: 10px;
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */