@tailwind base;
@tailwind components;
@tailwind utilities;


/* Remove input background color on chrome autocomplete*/
/* input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
} */